<!doctype>
<html class="no-js">
 <head>
     <base href="/">
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <title ng-bind="pageTitle"></title>
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width">
     <link rel="stylesheet" href="css/bundle.css">
     <link rel="stylesheet" href="css/main.css">
     <link rel="stylesheet" href="css/local.css">
     <link rel="stylesheet" href="css/global.css">

     <script src="https://code.highcharts.com/highcharts.js"></script>
     <script src="https://code.highcharts.com/highcharts-3d.js"></script>
     <script src="https://code.highcharts.com/modules/exporting.js"></script>
 </head>
 <body ng-controller="RootCtrl as mainCtrl" ng-cloak>
  
    
  <div class="main-container" layout="column"  layout-align="space between center">
    <!-- Header+>Start -->
      <div class="header" ng-include="'header.html'" ></div>
    <!-- Header=>End -->

    <!-- Main=>Start -->
    <div class="sub-main-container" >
      <div class="sub-main"  layout="row" >

        <!-- Side Bar when screen size is sm and xs=>Start -->
        <div ng-show="accessToken" hide-gt-sm layout="column" layout-align="center center">
          <!-- <md-button class="md-raised" ng-click="mainCtrl.openSidenav()">&gt;</md-button> -->
          <md-button class="md-icon-button md-raised" ng-click="mainCtrl.openSidenav()"> <md-icon md-svg-src="/images/right-arrow-sidenav.svg" ></md-icon></md-button>
        </div>
        <!-- Side Bar when screen size is sm and xs=>End -->

        <!-- Side Bar when screen size is greater than sm=>Start -->
        <div hide-sm hide-xs class="side-bar"  ng-show="accessToken" ng-include="'sidebar.html'" ></div>
        <!-- Side Bar when screen size is greater than sm=>End -->

        <main flex ui-view>
        </main>
      </div>
    </div>
    <!-- Main=>End -->

    <!-- Footer=>Start -->
    <div class="footer" layout="row" layout-align="center center"  flex>
      <span> &copy;2017 Cloudkaptan Consultancy Service Private Limited </span>
    </div>
    <!-- Footer=>End -->

    <md-sidenav hide-gt-sm md-component-id="left" class="md-sidenav-left">
      <div class="side-bar" ng-include="'sidebar.html'"></div>
    </md-sidenav>

  </div>
  <script type="text/javascript" src="js/main.js"></script>
 </body>
</html>