<div class="container">
    <form>
    <h1>Financial Information</h1>
    <br>
    <div class="form-group">
      <label>Annual Income</label>
      <input type="number" class="form-control" id="exampleInputDOB1" placeholder="Annual Income" ng-model="applicationForm2.form.annualIncome">
    </div>
  	<br>
    <div class="form-group">
      <label>Employment Type</label>
      <select class="form-control" id="sel1" ng-model="applicationForm2.form.employmentType">
        <option value="service">Service</option>
        <option value="business">Business</option>
      </select>
    </div>
    <br>
    <div class="form-group">
      <label>Number of Financial Dependents</label>
      <select class="form-control" id="sel1" ng-model="applicationForm2.form.numberOfFinancialDependents">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>    
    <br>
    <h1>Address Information</h1>
		<div class="form-group">
      <label>Type of Residence</label>
      <input type="text" class="form-control" id="typeOfResidence" placeholder="Eg.. Rent/Permanent" ng-model="applicationForm2.form.typeOfResidence">
    </div>
    <br>
    <div class="form-group">
      <label>I have lived here for: (in years)</label>
      <input type="number" class="form-control" id="iHaveLivedHereFor" placeholder="I have Lived Here For" ng-model="applicationForm2.form.iHaveLivedHereFor">
    </div>
    <button class="btn btn-lg btn-primary" ng-click="applicationForm2.continue()">Continue</button>
  </form>
</div> 