<div class="container">
	<h1>Dashboard</h1>
	<ul class="nav nav-tabs" id="nav">
  		<li name="appliedLoans"><a>Applied Loans</a></li>
	</ul>
	<div ng-show="dashboard.flag">
    	<span>You haven't taken any loan yet, you can 
    		<a ui-sref="applicationForm1">APPLY NOW!!</a>
    	</span>
  	</div>
	<table class="table table-hover" ng-hide="dashboard.flag">
		<thead>
			<tr>
				<td>Loan-Id</td>
				<td>Purpose</td>
				<td>Status</td>
				<td>More</td>
			</tr>
		</thead>
		<tbody>
			<td></td>
			<td></td>
			<td></td>
			<td><a href="" ng-hide="dashboard.flag">View More Details</a></td>
		</tbody>
	</table>
</div>