<div class="container">
    <form class="form-signin" name="forgotPasswordForm">
    	<h1 class="form-signin-heading">Forgot Password?</h1><br>
    	<div>
    		Did you forget your password? Kindly enter your email adress.
    	</div>
    	<br>
        <label for="inputEmail" class="sr-only"></label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" ng-model="forgotPassword.form.email" ng-pattern="/^[A-Z0-9a-z._%+-]+@[A-Za-z]+\.[A-Za-z]{2,3}$/" required autofocus><br>
        <div ng-messages="forgotPasswordForm.email.$error">
      		<p class="error" ng-show="forgotPasswordForm.email.$touched && forgotPasswordForm.email.$pristine" ng-message="required">Your email is required.</p>
      		<p class="error" ng-show="forgotPasswordForm.email.$touched && forgotPasswordForm.email.$invalid" ng-message="pattern">This needs to be a valid email</p>
    	</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="forgotPassword.submit()" ng-disabled="forgotPassword.disableSubmit()">Submit</button>
    </form>
    <div ng-show="forgotPassword.flag">
    <form class="form-signin" name="securityQuestionForm">
    	<div>
    		Please answer the security answer.
    	</div>
    	<br>
    	<label for="inputSecurityQuestion" class="sr-only"></label>
        <input type="text" id="inputSecurityQuestion" class="form-control" placeholder="Security Question" name="securityQuestion" ng-model="forgotPassword.securityQuestion" disabled><br>
        <br>
        <label for="inputSecurityAnswer" class="sr-only"></label>
        <input type="text" id="inputSecurityAnswer" class="form-control" placeholder="Security Answer" name="securityAnswer" ng-model="forgotPassword.form1.securityAnswer" required><br>
        <div ng-messages="forgotPasswordForm.securityAnswer.$error">
      		<p class="error" ng-show="forgotPasswordForm.securityAnswer.$touched && forgotPasswordForm.securityAnswer.$pristine && forgotPasswordForm.securityAnswer.$invalid" ng-message="required">Security Answer is required.</p>
      	</div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="forgotPassword.check()" ng-disabled="forgotPassword.disableCheck()">Check</button>
    </form>
</div>