<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Online Loan Application</h1>
        <p class="lead">Dreaming of a vacation, a perfect wedding, home renovation or a much desired gadget, you no longer need to wait to realize your dreams. Make life picture perfect with Personal Loans.<br><br>
        We offer Personal Loan Online application facility with a built in eligibility calculator to know eligibility in less than 60 seconds and an EMI Calculator tool.!</p>
      </div>
      <br>
      <div>
        <h1>EMI Calculator</h1>
        <br>
        <div class="form-group">
          <label>Principal (50,000 to 20,00,000)</label>
          <br>
          <input class="range-slider__range" type="range" value="50000" min="50000" max="2000000" ng-model="home.principal">
        </div>
        <br>
        <label>Principal : {{home.principal}}</label>
        <br><br>
        <div class="form-group">
          <label>Rate</label>
          <input type="disabled" class="form-control" id="Rate" placeholder="Rate" ng-model="home.rate">
        </div>
        <br>
        <div class="form-group">
          <label>Tenure</label>
          <select class="form-control" id="sel1" ng-model="home.tenure">
            <option value="36">3 years</option>
            <option value="48">4 years</option>
            <option value="60">5 years</option>
      </select>
    </div>
        <div class="form-group">
          <label>EMI (Monthly)</label>
          <input type="disabled" class="form-control" id="emi" placeholder="EMI" ng-model="home.emi">
        </div>
        <br>
        <div class="form-group">
          <label>Total Repayment Amount</label>
          <input type="disabled" class="form-control" id="totalRepaymentAmount" placeholder="Total Repayment Amount" ng-model="home.totalRepaymentAmount">
        </div>
        <br>
        <button class="btn btn-lg btn-primary" ng-click="home.calculate()">Calculate</button>
        <button class="btn btn-lg btn-primary" ng-click="home.applyNow()">Apply Now</button>
        <br>
      </div>
    </div>
  </div>
</div>