<div class="updatePersonalDetails">
  <form class="form-inline" name="updateForm" autocomplete="off">
    <div class="col-md-12">
      <h1 class="personalDetails">Personal Information</h1>
      <div class="form-group col-md-12 row p-b-15"> 
        <div class="col-md-4 labelStyle">
          <label for="firstName" class="control-label labelColor">First Name</label>
        </div>
        <div class="col-md-5">
          <input class="form-control updateProf" ng-model="updatePersonalDetails.updateForm.firstName" type="text" name="firstName" disabled required>
          <div ng-messages="updateForm.firstName.$error">
            <p class="error" ng-show="updateForm.firstName.$touched && updateForm.firstName.$invalid" ng-message="required">Your First Name is required.</p>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12 row p-b-15"> 
        <div class="col-md-4 labelStyle">
          <label for="firstName" class="control-label labelColor">Last Name</label>
        </div>
        <div class="col-md-5">
          <input class="form-control updateProf" ng-model="updatePersonalDetails.updateForm.lastName" type="text" name="lastName" disabled="" required>
          <div ng-messages="updateForm.lastName.$error">
            <p class="error" ng-show="updateForm.lastName.$touched && updateForm.lastName.$invalid" ng-message="required">Your Last Name is required.</p>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12 row p-b-15"> 
        <div class="col-md-4 labelStyle">
          <label for="Street" class="control-label labelColor">Street Address</label>
        </div>
        <div class="col-md-5">
          <input class="form-control updateProf" ng-model="updatePersonalDetails.updateForm.street" type="text" name="street" required>
          <div ng-messages="updateForm.street.$error">
            <p class="error" ng-show="updateForm.street.$touched && updateForm.street.$invalid" ng-message="required">Your Street Address is required.</p>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12 row p-b-15"> 
        <div class="col-md-4 labelStyle">
          <label for="Street" class="control-label labelColor">Address</label>
        </div>
        <div class="col-md-5">
          <input class="form-control updateProf" ng-model="updatePersonalDetails.updateForm.street" type="text" name="street" required>
          <div ng-messages="updateForm.street.$error">
            <p class="error" ng-show="updateForm.street.$touched && updateForm.street.$invalid" ng-message="required">Your Street Address is required.</p>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12 row p-b-15"> 
        <div class="col-md-4 labelStyle">
          <label for="Mobile Number" class="control-label labelColor">Mobile Number</label>
        </div>
        <div class="col-md-5">
          <input class="form-control updateProf wcf-icon-telephone" ng-model="updatePersonalDetails.updateForm.mobile" type="text" name="mobile" ng-maxlength="10" required>
          <div ng-messages="updateForm.mobile.$error">
            <p class="error" ng-show="updateForm.mobile.$touched && updateForm.mobile.$invalid" ng-message="required">Your Mobile Number is required.</p>
            <p class="error" ng-message="maxlength">Mobile Number should be of 10 digits.</p>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12 row p-b-15"> 
        <div class="col-md-4 labelStyle">
          <label for="Email" class="control-label labelColor">Email</label>
        </div>
        <div class="col-md-5">
          <input class="form-control updateProf" ng-model="updatePersonalDetails.updateForm.email" type="email" name="email" ng-pattern="/^[A-Z0-9a-z._%+-]+@[A-Za-z]+\.[A-Za-z]{2,3}$/" required>
          <div ng-messages="updateForm.email.$error">
            <p class="error" ng-show="updateForm.email.$touched && updateForm.email.$invalid" ng-message="required">Your email is required.</p>
            <p class="error" ng-show="updateForm.email.$touched && updateForm.email.$invalid" ng-message="pattern">This needs to be a valid email</p>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12 row p-b-15"> 
        <div class="col-md-4 labelStyle">
          <label for="Gender" class="control-label labelColor">Gender</label>
        </div>
        <div class="col-md-5">
          <div class="radio">
            <label><input type="radio" name="optradio" ng-model="">Male</label>
          </div>
          <br>
          <div class="radio">
            <label><input type="radio" name="optradio" ng-model="">Female</label>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="form-group col-md-12 row p-b-15"> 
        <div class="col-md-4 m-l-10">
          <button class="btn btn-secondary btnFloatRight" ng-click="updatePersonalDetails.exit()" style="width:100px;" >Exit</button>
        </div>
        <div class="col-md-6 p-l-10">
          <button class="btn btn-primary" ng-click="updatePersonalDetails.save()" ng-disabled="updatePersonalDetails.disableButton()" style="width:200px;" >Save</button>
        </div>
      </div>
    </div> 
  </form>
</div>